// Стили текстов

%h1{
    font-size: 60px;
    font-weight: 500;
    line-height: 90px;

    @media (max-width: 510px){
        font-size: 40px;
        font-weight: 500;
        line-height: 57.6px;
    }
}
%h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 57.6px;

    @media (max-width: 510px){
        font-size: 38px;
        font-weight: 500;
        line-height: 54px;
    }
}
%h3{
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;

    @media (max-width: 510px){
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
    }
}
%h4{
    font-size: 28px;
    font-weight: 600;
    line-height: 33.6px;

    @media (max-width: 510px){
        font-size: 25px;
        font-weight: 500;
        line-height: 30px;
    }
}
%h5{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;

    @media (max-width: 510px){
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
    }
}

%p1{
    font-size: 34px;
    font-weight: 300;
    line-height: 47.6px;

    @media (max-width: 510px){
        font-size: 25px;
        font-weight: 300;
        line-height: 40px;
    }
}
%p2{
    font-size: 25px;
    font-weight: 300;
    line-height: 40px;

    @media (max-width: 510px){
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
    }
}
%p3{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

    @media (max-width: 510px){
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }
}
%p4{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;

    @media (max-width: 510px){
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
}

%text_active {
    color: #EB6D1B !important;
}
.text_active {
    color: #EB6D1B !important;
}

// 